.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.CurrentEvent {
  font-size: calc(10px + 10vmin);
}

.NextEvent {
  margin-top: 40px;
  font-size: calc(10px + 7vmin);
  color: #838383;
}

.Time {
  font-size: calc(18px + 10vmin);
}

.Red {
  color: red;
}

.Flash {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

a {
  color: #c3c6c8;
  text-decoration: none;
  padding: 2px;
  border-radius: 4px;
  transition: background-color 0.25s ease-out 0.1s, color 0.25s ease-out 0.1s;
}
a:hover {
  color: #002c62;
  background-color: #8ec549;
}
